* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('images/planet-express-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

header {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.quiz-container {
  width: 840px;
  height: 240px;
  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.quiz-image {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
}

.quiz-text-container {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Get progress and score to display on same line, at left and right sides */
.quiz-info-container {
  display: flex;
}

.quiz-progress {
  left: 0;
  bottom: 0;
}

.quiz-score {
  right: 0;
  bottom: 0;
}

.quiz-button {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}